* { -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box; *behavior:url(boxsizing.htc); }
@font-face { font-family: travelcons; src: url('travelcons.ttf'); }

html, body { 
	margin:0;
	padding:0;background:#333;
	line-height:1.1;
	font-family:"Helvetica Neue", Helvetica, sans-serif;
  letter-spacing:0.8px
}
h1, h2, .nav-link, .playlist-btn {
	font-weight:100; 
	text-transform:uppercase;
}

h1, h2, h3, h4, p { margin:0 0 10px; color:#fff; text-shadow: 1px 1px 1px #000;}
h1 {
  font-size:70px;
}
h2 {
  margin-bottom:0;
}
h3 {
  font-weight: 200;
  font-size: 16px;
  margin-top:0;
}
h4 {
  font-weight: 100;
  font-size: 16px;
  margin-top:0;
}
p { line-height:1.4;  }
a { color:#fff; font-style:italic; }
pre {
	white-space:pre-wrap;       /* css-3 */
	white-space:-moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space:-pre-wrap;      /* Opera 4-6 */
	white-space:-o-pre-wrap;    /* Opera 7 */
	word-wrap:break-word;       /* Internet Explorer 5.5+ */
}
.open {
	padding: 10px 0;
  text-align: center;
}

span.travelcon {
  font-family: travelcons;
  text-transform: None;
}
table
{
  border-collapse:collapse;
  font-family:"Helvetica Neue", Helvetica, sans-serif;
  font-weight: 100;
}
table, th, td {
  border: 1px solid white;
  color:white;
}
th, td {
  padding: 7px 5px;
}
.box { 
	background:#444; background:rgba(0,0,0,.6);
	padding:20px;
	border-radius:5px;
	margin-bottom:20px;
}
.box h1, .box h2, .box h3, .box h4, .box p {
  text-shadow: none;
}
.credit {
	margin:20px 0;
}
.download-links { margin-top:20px; }
.download { margin-left:10px; padding:5px 10px; color:#fff; background:#111; border-radius:5px; display: inline; }
.video-list {
	list-style:none;
	margin:0 0 -10px;
	padding:0;
	text-align:center;
}
.video-list li {
	margin-bottom:10px;
}
.video-list .playlist-btn {
	display:block;
	width:100%;
}
.main {
	position:relative;
	margin:50px 50px 50px 50px;
	min-width:300px;
	-webkit-transition-duration:0.6s;-moz-transition-duration:0.6s;-ms-transition-duration:0.6s;-o-transition-duration:0.6s;transition-duration:0.6s;
}
.nav-link {
	display:block;
	padding-bottom:10px;
	text-decoration:none;
	font-style:normal;
}
.toggle-btn {
	position: absolute;
	bottom: -50px;
	left: 5px;
	background:rgba(0,0,0,.8);
	padding: 6px 12px;
	border-radius: 10px;
	color: #fff;
	font-size: .8em;
	font-family:'Source Sans Pro', sans-serif; font-weight:900; 
	text-transform: uppercase;
}
.playlist { 
	padding:0; 
	margin:20px 20px 40px;
}
.playlist-btn { 
	background:#000; 
	text-decoration:none; 
	font-weight:bold; 
	font-style:normal; 
	text-transform:uppercase; 
	font-size:14px; 
	padding:5px 10px; 
	margin-right:10px;
	border-radius:5px; 
}
.dimmed {opacity:.75;}
.footer-text {
	padding:0 20px;
	font-size:.9em;
	font-style:italic;
	opacity:.8;
	text-shadow: 1px 1px 1px rgba(0,0,0,.8);
}

/*COUNTDOWN.JS*/

.styled{
	margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}
.styled div {
  	display: inline-block;
	   margin-left: 70px;
  	font-size: 70px;
  	font-weight: 100;
  	color: white;
  	line-height: 1;
  	text-align: right;
}
/* IE7 inline-block hack */
*+html .styled div{
  	display: inline;
  	zoom: 1;
}
.styled div:first-child {
  	margin-left: 0;
}
.styled div span {
  	display: block;
  	border-top: 1px solid #cecece;
  	padding-top: 3px;
  	font-size: 12px;
  	font-weight: normal;
  	text-transform: uppercase;
  	text-align: left;
}
/*Clearfix*/
.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.clearfix {
    display: inline-block;
}
html[xmlns] .clearfix {
    display: block;
}
* html .clearfix {
    height: 1%;
}
/*Style*/

#conference-logo {
  width: 600px;
  margin-left:auto;
  margin-right: auto;
}

#overview h4 {
  width:70%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  line-height: 1.5;
  letter-spacing:1px
}

#registration h2 {
  margin-top:20px;
}
#registration div.label, #registration div.value {
  width:350px;
  display: inline-block;
}
#registration table {
  margin-top:20px;
  font-weight: 100;
}
#registration th {
  font-weight: 400;
}
#registration table th:first-child {
  width: 400px;
}
#registration table th:nth-child(2),
#registration table th:nth-child(3) {
  width: 200px;
}

#registration table td:nth-child(2),
#registration table td:nth-child(3) {
  text-align: center;
}
#location h2 {
  margin-top:45px;
  margin-bottom:20px;
}

.container {
  width: 324px; height: 412px;
  -webkit-perspective: 1000;
  text-align: left;
}

.card {
  width: 324px; height: 412px;
  border: 8px solid #fff; 
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
  .container:hover .card {
    -webkit-transform: rotateY(180deg);       
  }

.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
}


.bonnke {
  display: inline-block;
  -webkit-transform: rotate(5deg);
}
  .bonnke .front {
    
  }
  .bonnke .back {
    width: 308px; height: 396px; padding: 20px;
    -webkit-transform: rotateY(180deg);
    background: #292929; 
  }
  .bonnke .back h2 {
      margin-top: 0 !important;
      margin-bottom: 10px;
    }
  .bonnke .back h3 {
      line-height: 1.14 !important;
      text-transform: none;
    }
    .bonnke img {
      float: right;
    }
    
.rick {
  display: inline-block;
  -webkit-transform: rotate(-5deg);
  margin-left: 100px;
}
  .rick h2, .rick h4 {
    text-align: right;
  }
  .rick .front {
    
  }
  .rick .back {
    width: 308px; height: 396px; padding: 20px;
    -webkit-transform: rotateY(180deg);
    background: #292929; 
  }
  .rick .back h2 {
      text-align: left;
      margin-top: 0 !important;
      margin-bottom: 10px;
    }
  .rick .back h3 {
      line-height: 1.14 !important;
      text-transform: none;
    }
    .rick img {
      float: right;
    }

.simon {
  display: inline-block; 
  -webkit-transform: rotate(-5deg);
}
  .simon h2 {
    margin-top:10px;
  }
  .simon .front {
    
  }
  .simon .back {
    width: 308px; height: 396px; padding: 20px;
    -webkit-transform: rotateY(180deg);
    background: #292929; 
  }
  .simon .back h2 {
      margin-top: 0 !important;
      margin-bottom: 10px;
    }
  .simon .back h3 {
      line-height: 1.14 !important;
      text-transform: none;
    }
    .simon img {
      float: right;
    }

.jeff {
  display: inline-block; 
  -webkit-transform: rotate(5deg);
  margin-left:100px;
}
  .jeff h2 {
    margin-top:10px;
    text-align: right;
  }
  .jeff h4 {
    text-align: right;
  }
  .jeff .front {
    
  }
  .jeff .back {
    width: 308px; height: 396px; padding: 20px;
    -webkit-transform: rotateY(180deg);
    background: #292929; 
  }
  .jeff .back h2 {
      text-align: left;
      margin-top: 0 !important;
      margin-bottom: 10px;
    }
  .jeff .back h3 {
      line-height: 1.14 !important;
      text-transform: none;
    }
    .jeff img {
      float: right;
    }

.front {
  z-index: 10;
}
.container:hover .front {
  z-index: 0;
} 
.row {
  width:90%;
  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:60px;
  text-align: center;
}
.row.last {
  margin-bottom: 50px;
}
.mobile {
  display:none;
}

/*SCREEN COMPATIBILITY*/
/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

.tab-hide {
  display:none;
}
.container {
  width: 300px; height: 383px;
  -webkit-perspective: 1000;
}

.card {
  width: 300px; height: 383px;
  border: 8px solid #fff; 
  -webkit-transform-style: preserve-3d;
  -webkit-transition: 0.5s;
}
  .container:hover .card {
    -webkit-transform: rotateY(180deg);       
  }

.face {
  position: absolute;
  -webkit-backface-visibility: hidden;
}
.face img {
  width:284px;
  height:auto;
}

.bonnke .back, .rick .back,
.simon .back, .jeff .back {
  width:284px;
  height: 365px;
}
.rick, .jeff {margin-left:20px;}
.row {width: 100%;}
 
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  .mobile {display:block;}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  h1 {font-size: 40px;}
  .main {
    margin:0;
    margin-top:50px;
  }
  img#conference-logo {width:80%;}
  .styled div {
    display: inline-block;
     margin-left: 30px;
    font-size: 20px;
    font-weight: 100;
    color: white;
    line-height: 1;
    text-align: right;
  }
  #overview h4 {
    width:90%;
  }
  .container {
    display:none;
  }
  .mobile {
    display:block;
    margin-top:-30px;
  }
  .mobile h3 {
    line-height: 1.2;
    font-weight: 100;
  }
  .mobile hr {
    margin: 25px 0;
  }

  #registration h2 {
    font-size: 16px;
  }
  #registration div.label,
  #registration div.value {width:100%;}
  #registration div.value h2 {margin-top:5px;}
  #location h2 {
    margin-top:25px;
  }
}